<h1>Great Hand for Life Time 汉化进度</h1>
<a href='http://www.universalsubtitles.org/en/videos/bRHPmCUdGqfu/'>Great Hand 11</a><span>英</span>
<a href='http://www.universalsubtitles.org/en/videos/VkCM4fEgdMTu/'>Great Hand 12</a><span>英</span>
<a href='http://www.universalsubtitles.org/en/videos/nzlObSosvCYM/'>Great Hand 13</a><span>英</span>
<a href='http://www.universalsubtitles.org/en/videos/bRHPmCUdGqfu/'>Great Hand 14</a><span>英</span>
<a href='http://www.universalsubtitles.org/en/videos/Q6TPT9sDRWSo/'>Great Hand 15</a><span>英</span>
<a href='http://www.universalsubtitles.org/en/videos/OmaBdo1efPWk/'>Great Hand 16</a><span>英</span>
<a href='http://www.universalsubtitles.org/en/videos/l5NWFvTpRzgE/'>Great Hand 17</a><span>英</span>

